<link rel="stylesheet" href="test.css"/>

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .panel {
    position: absolute ;
    top : 0;
    left: 0;

  }